<!DOCTYPE>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>sound-wave</title>
    <link rel="stylesheet" href="../HouseholdAccountBook_files/css/sound_wave.css">
</head>

<body>
    <div class="sound-wave">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>

</html>