<!DOCTYPE>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="icon" href="favicon.ico?20230912" sizes="any">
        <link rel="apple-touch-icon" href="xxxx.png?20230912">
        <title>家計簿アプリ | テスト</title>
        <link rel="stylesheet" href="../HouseholdAccountBook_files/css/reset.css?20230912">
        <link rel="stylesheet" href="common.css?20230912">
        <link rel="stylesheet" href="test.css?20230912">
        <style>
            header {
                font-size: 36px;
                font-weight: 700;
                line-height: 44px;
                color: #2E2E2E;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <header>
            テスト用ページ
        </header>

        <main>

        </main>

        <footer>
            <p>&copy; 2023 Unique Sea.</p>
        </footer>

        <script src="common.js?20230912"></script>
        <script src="test.js?20230912"></script>
    </body>
</html>