<!DOCTYPE>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>家計簿アプリ | テスト</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../HouseholdAccountBook_files/css/reset.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../HouseholdAccountBook_files/css/test_home.css">
</head>

<body>
    <!-- メイン -->
    <header>
        <h1 class="hh_typo_header">家計簿アプリ</h1>
    </header>

    <!-- メイン -->
    <main>
        <section class="hh_inputSec">
            <p>支払内容を入力してください</p>
            <div class="hh_inputFormWrapper">
                <div class="hh_inputForm">
                    <ul class="hh_inputList">
                        <li>
                            <input type="date" id="hh_inputDay" class="hh_inputItem hh_typo_inputItem"><label for="hh_inputDay"
                                class="hh_inputLabel">
                                <p class="hh_typo_inputLabel">日付を選択してください</p>
                            </label>
                        </li>
                        <li>
                            <input type="number" id="hh_inputAmount" class="hh_inputItem hh_typo_inputItem"><label for="hh_inputAmount"
                                class="hh_inputLabel">
                                <p class="hh_typo_inputLabel">金額を入力してください</p>
                            </label>
                        </li>
                        <li>
                            <input type="text" id="hh_inputContent" class="hh_inputItem hh_typo_inputItem"><label for="hh_inputContent"
                                class="hh_inputLabel">
                                <p class="hh_typo_inputLabel">内容を入力してください</p>
                            </label>
                        </li>
                        <li>
                            <select id="hh_inputCategory" class="hh_inputItem hh_typo_inputItem">
                                <option value="">選択する</option>
                                <option value="01">食費</option>
                                <option value="02">生活雑貨費</option>
                                <option value="03">服飾費</option>
                                <option value="04">チャージ</option>
                                <option value="05">交際費</option>
                                <option value="06">娯楽費</option>
                                <option value="07">交通費</option>
                                <option value="08">公共料金</option>
                                <option value="09">引落し</option>
                                <option value="10">給与</option>
                                <option value="99">その他</option>
                            </select><label for="hh_inputCategory">
                                <p class="hh_typo_inputLabel">分類を選択してください</p>
                            </label>
                        </li>
                        <li>
                            <select id="hh_inputMethod" class="hh_inputItem hh_typo_inputItem">
                                <option value="">選択する</option>
                                <option value="01">PayPay</option>
                                <option value="02">PASMO</option>
                                <option value="03">三井住友デビット</option>
                                <option value="04">三井住友クレジット</option>
                                <option value="05">三菱UFJデビット</option>
                                <option value="06">三菱UFJクレジット</option>
                                <option value="98">現金</option>
                                <option value="99">その他</option>
                            </select><label for="hh_inputMethod">
                                <p class="hh_typo_inputLabel">支払方法を選択してください</p>
                            </label>
                        </li>
                        <li>
                            <input type="text" id="hh_inputNote" class="hh_inputItem hh_typo_inputItem"><label for="hh_inputNote"
                                class="hh_inputLabel">
                                <p class="hh_typo_inputLabel">備考を入力してください</p>
                            </label>
                        </li>
                    </ul>
                    <div class="hh_confirmBtnWrapper">
                        <button id="hh_confirmBtn" class="hh_confirmBtn hh_typo_confirmBtn">確定する</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- フッター -->
    <footer>
        <p class="hh_typo_footer">&copy;2023 UniqueSea.</p>
    </footer>


    <script src="../HouseholdAccountBook_files/css/common.js"></script>
    <script src="../HouseholdAccountBook_files/css/test_home.js"></script>
</body>

</html>