/** 共通 **/
/* .com_loader {
    width: 90px;
    height: 14px;
    --c: #fff 92%, #0000;
    background:
        radial-gradient(circle closest-side, var(--c)) calc(100%/-4) 0,
        radial-gradient(circle closest-side, var(--c)) calc(100%/4) 0;
    background-size: calc(100%/2) 100%;
    animation: l14 1.5s infinite;
}

@keyframes l14 {
    0% {
        background-position: calc(100%/-4) 0, calc(100%/4) 0
    }

    50% {
        background-position: calc(100%/-4) -14px, calc(100%/4) 14px
    }

    100% {
        background-position: calc(100%/4) -14px, calc(3*100%/4) 14px
    }
} */

.com_loader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #FFFFFF;
}

.com_loader::after {
    width: 100%;
    height: 100%;
    content: 'Loading...';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #2E2E2E;
}

.com_loader_hidden {
    display: none;
}