/** 共通 **/
@keyframes audio-wave {
    0% {
        height: 6px;
        transform: translateY(0);
        background-color: #FF8E3A;
    }

    25% {
        height: 40px;
        transform: translateY(-5px) scaleY(1.7);
        background-color: #ED509E;
    }

    50% {
        height: 6px;
        transform: translateY(0);
        background-color: #9C73F8;
    }

    100% {
        height: 6px;
        transform: translateY(0);
        background-color: #0FCCCE;
    }
}

.com_loader {
    position: relative;
}

.com_loader_background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.com_loader_bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 40px;
}

.com_loader_bars>div {
    width: 10px;
    height: 6px;
    border-radius: 8px;
    background-color: #FFA500;
    animation: audio-wave 1.4s infinite ease-in-out;
}

.com_loader_bars>div:not(:first-child) {
    margin-left: 8px;
}

.com_loader_bars>div:nth-child(1) {
    left: 11px;
    animation-delay: 0.2s;
}

.com_loader_bars>div:nth-child(2) {
    left: 22px;
    animation-delay: 0.4s;
}

.com_loader_bars>div:nth-child(3) {
    left: 33px;
    animation-delay: 0.6s;
}

.com_loader_bars>div:nth-child(4) {
    left: 44px;
    animation-delay: 0.8s;
}

.com_loader_bars>div:nth-child(5) {
    left: 55px;
    animation-delay: 1s;
}

.com_loader_hidden {
    display: none;
}