/** テストホーム **/
/* ボディ */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}

.hh_typo_header {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    color: #2E2E2E;
}

/* メイン */
main {
    flex-grow: 1;
    padding: 40px 0;
}

/* 入力セクション */
.hh_inputSec {
    padding: 0 20px;
}

/* 入力フォーム */
.hh_inputFormWrapper {
    padding-top: 24px;
}

.hh_inputForm {
    padding: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.hh_inputList>li:not(:first-child) {
    padding-top: 16px;
}

.hh_inputItem {
    width: 100%;
    padding: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
}

.hh_typo_inputItem {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2E2E2E;
}

.hh_typo_inputLabel {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #2E2E2E;
}

/* 確定ボタン */
.hh_confirmBtnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.hh_confirmBtn {
    width: 280px;
    padding: 8px 16px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
}

.hh_typo_confirmBtn {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color: #2E2E2E;
}

/* フッター */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
}

.hh_typo_footer {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: #2E2E2E;
}